<div id="all_posts">
	<% @posts.reverse.each do |post| %>
		<div id="indiv_post">
			<h1><%= link_to post.title.humazine, post %></h1>
				<%= post.message %>
				<br />
			<%= link_to 'Edit', edit_post_path(post) %> | <%= link_to 'Delete', post, :method => :delte, :confrim => 'Are you sure?' %>
		</div>
	<% end %>
</div>	
		